@use "inc" as m;

.c-btn {
    display: block;
    padding: 17px;
    border-radius: 1000px;
    background-color: m.$green1;
    color: #fff;
    text-align: center;
    position: relative;
    border: 2px solid #fff;
    &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: translateY(-50%) rotate(45deg);
        position: absolute;
        display: block;
        right: 24px;
        top: 50%;
    }
    &:hover {
        background-color: transparent;
        border: 2px solid m.$green1;
        color: m.$green1;
        &::before {
            border-top-color: m.$green1;
            border-right-color: m.$green1;
        }
    }
    &-txt {
        font-size: 16px;
    }
    width: 260px;
    max-width: 100%;

    &-02 {
        background-color: #fff;
        color: m.$green1;
        border: 2px solid m.$green1;
        &::before {
            border-top: 2px solid m.$green1;
            border-right: 2px solid m.$green1;
        }

        &:hover {
            border: 2px solid #fff;
            color: #fff;
            &::before {
                border-top-color: #fff;
                border-right-color: #fff;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .c-btn {
        padding: 22px;
        &-txt {
            font-size: 18px;
        }
    }
}

.c-title-01 {
    font-size: m.$title-font;
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        background-color: #fff;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
    &-02 {
        &::before {
            background-color: black;
        }
    }
    &-txt {
        &-01 {
            display: block;
            font-size: 0.8em;
            margin-bottom: 10px;
            @include m.mq(tb) {
                font-size: 0.6em;
            }
        }
        &-02 {
            display: block;
        }
    }
    @include m.mq(tb) {
        font-size: m.$title-font-pc;
        margin-bottom: 40px;
    }
    @include m.mq(pc) {
        margin-bottom: 50px;
    }
}
