.js__nav-active {
    &.js__nav-area {
        display: block;
        visibility: visible;
        animation-name: openNav;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    & .hdr__nav-btn {
        &-parts {
            &-01 {
                transform: rotate(45deg) translateY(-50%);
                top: 45%;
            }

            &-02 {
                transform: translateX(100px);
            }

            &-03 {
                transform: rotate(-45deg) translateY(-50%);
                top: 45%;
            }
        }
    }
}

@keyframes openNav {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
