@use "inc" as m;

.sec-05{
    &__wrapper{
        background-color: m.$green1;

    @include m.mq(tb){
        .c-title-01{
            text-align: left;
            margin-bottom: 30px;
            font-size: 28px;
            &::before{
                transform: none;
                left: 0;
            }
        }

    }
    }
    &__block{
        padding: m.$section-y m.$section-x;
        color: #fff;
        width: m.$inner-sp;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include m.mq(tb){
            margin-left: 0;
            margin-right: auto;
            padding: m.$section-tb;
            width: 50%;
        }
        @include m.mq(pc){
            width: 555px;
            padding: m.$section-tb 70px;
        }
    }
    &__img{
        height: 240px;
        width: 100%;
        background-color: black;
        display: block;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            display: block;
        }
        @include m.mq(tb){
            width: 50%;
            height: auto;
        }
    }
    &__text-area{
        line-height: m.$line-height-01;
        margin-bottom: 30px;
    }
    &__inner{
        &:nth-of-type(2n){
            .c-title-01::before{
                background-color: #333;
            }
            background-color: #fff;
            .sec-05__block{
                color: #333;
                margin-right: 0;
                margin-left: auto;
            }
            @include m.mq(tb){
                flex-direction: row-reverse;
            }
        }
        @include m.mq(tb){
            max-height: 430px;
            display: flex;


        }
    }

}