/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=number] {
  -moz-appearance: textfield;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

body {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .u__pc-none {
    display: none;
  }
}
.c-btn {
  display: block;
  padding: 17px;
  border-radius: 1000px;
  background-color: #6f8f84;
  color: #fff;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  width: 260px;
  max-width: 100%;
}
.c-btn::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  display: block;
  right: 24px;
  top: 50%;
}
.c-btn:hover {
  background-color: transparent;
  border: 2px solid #6f8f84;
  color: #6f8f84;
}
.c-btn:hover ::before {
  border-top-color: #6f8f84;
  border-right-color: #6f8f84;
}
.c-btn-txt {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .c-btn {
    padding: 22px;
  }
  .c-btn-txt {
    font-size: 18px;
  }
}
.hdr__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: #fff;
}
.hdr__inner {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .hdr__inner {
    width: auto;
    padding: 0;
    max-width: 20%;
  }
}
.hdr__logo {
  width: 200px;
  max-width: 60%;
}
@media screen and (min-width: 1024px) {
  .hdr__logo {
    max-width: 100%;
  }
}
.hdr__nav-btn {
  width: 25px;
  height: 16px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .hdr__nav-btn {
    display: none;
  }
}
.hdr__nav-btn-parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #6f8f84;
  position: absolute;
  left: 0;
}
.hdr__nav-btn-parts-01 {
  top: 0;
}
.hdr__nav-btn-parts-02 {
  top: 50%;
  transform: translateY(-50%);
}
.hdr__nav-btn-parts-03 {
  bottom: 0;
}

.nav__wrapper {
  padding: 20px;
  padding-top: 80px;
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  display: none;
  z-index: 50;
}
@media screen and (min-width: 1024px) {
  .nav__wrapper {
    display: block;
    visibility: visible;
    position: static;
    width: auto;
    padding: 0;
  }
}
.nav__list:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .nav__list:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__list-area {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .hdr__pc-inner {
    width: 1400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
  }
  .nav__list-area {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 35px;
  }
}
.ftr__logo {
  width: 200px;
  max-width: 60%;
  margin-bottom: 20px;
}
.ftr__logo img {
  width: 100%;
}
.ftr__wrapper {
  padding: 20px;
  height: 200px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .ftr__wrapper {
    padding: 35px;
  }
}
.ftr__block {
  margin-bottom: 20px;
}
.ftr__block-txt {
  display: block;
}
.ftr__block-txt:not(:last-child) {
  margin-bottom: 9px;
}
.ftr__btn-block {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .ftr__list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
}
.ftr__list-line {
  margin-bottom: 12px;
  font-weight: bold;
}
.ftr__list-line-btn {
  display: block;
}
@media screen and (min-width: 768px) {
  .ftr__list-line-btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .ftr__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ftr__inner {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .ftr__item {
    flex: 1;
    min-width: 500px;
  }
  .ftr__btn-block {
    margin-bottom: 35px;
  }
}
.js__nav-active.js__nav-area {
  display: block;
  visibility: visible;
  -webkit-animation-name: openNav;
          animation-name: openNav;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.js__nav-active .hdr__nav-btn-parts-01 {
  transform: rotate(45deg) translateY(-50%);
  top: 45%;
}
.js__nav-active .hdr__nav-btn-parts-02 {
  transform: translateX(100px);
}
.js__nav-active .hdr__nav-btn-parts-03 {
  transform: rotate(-45deg) translateY(-50%);
  top: 45%;
}

@-webkit-keyframes openNav {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes openNav {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */