/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=number] {
  -moz-appearance: textfield;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.main__area {
  padding-top: 60px;
}

@media screen and (min-width: 1024px) {
  .u__pc-none {
    display: none;
  }
}
.u__pc-only {
  display: none;
}
@media screen and (min-width: 768px) {
  .u__pc-only {
    display: block;
  }
}

.u__serif {
  font-family: "Noto Serif JP", serif;
}

.c-btn {
  display: block;
  padding: 17px;
  border-radius: 1000px;
  background-color: #6f8f84;
  color: #fff;
  text-align: center;
  position: relative;
  border: 2px solid #fff;
  transition: ease all 0.5s;
  width: 260px;
  max-width: 100%;
}
.c-btn::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translateY(-50%) rotate(45deg);
  position: absolute;
  display: block;
  right: 24px;
  top: 50%;
}
.c-btn:hover {
  background-color: transparent;
  border: 2px solid #6f8f84;
  color: #6f8f84;
}
.c-btn:hover::before {
  border-top-color: #6f8f84;
  border-right-color: #6f8f84;
}
.c-btn-txt {
  font-size: 16px;
}
.c-btn-02 {
  background-color: #fff;
  color: #6f8f84;
  border: 2px solid #6f8f84;
}
.c-btn-02::before {
  border-top: 2px solid #6f8f84;
  border-right: 2px solid #6f8f84;
}
.c-btn-02:hover {
  border: 2px solid #fff;
  color: #fff;
}
.c-btn-02:hover::before {
  border-top-color: #fff;
  border-right-color: #fff;
}

@media screen and (min-width: 768px) {
  .c-btn {
    padding: 22px;
  }
  .c-btn-txt {
    font-size: 18px;
  }
}
.c-title-01 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  margin-bottom: 30px;
}
.c-title-01::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #fff;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.c-title-01-02::before {
  background-color: black;
}
.c-title-01-txt-01 {
  font-family: "Noto Serif JP", serif;
  display: block;
  font-size: 0.8em;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .c-title-01-txt-01 {
    font-size: 0.6em;
  }
}
.c-title-01-txt-02 {
  display: block;
}
@media screen and (min-width: 768px) {
  .c-title-01 {
    font-size: 36px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .c-title-01 {
    margin-bottom: 50px;
  }
}

.hdr__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: #fff;
}
.hdr__inner {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 1024px) {
  .hdr__inner {
    width: auto;
    padding: 0;
    max-width: 20%;
  }
}
.hdr__logo {
  width: 200px;
  max-width: 60%;
}
@media screen and (min-width: 1024px) {
  .hdr__logo {
    max-width: 100%;
  }
}
.hdr__nav-btn {
  width: 25px;
  height: 16px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .hdr__nav-btn {
    display: none;
  }
}
.hdr__nav-btn-parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #6f8f84;
  position: absolute;
  left: 0;
}
.hdr__nav-btn-parts-01 {
  top: 0;
}
.hdr__nav-btn-parts-02 {
  top: 50%;
  transform: translateY(-50%);
}
.hdr__nav-btn-parts-03 {
  bottom: 0;
}

.nav__wrapper {
  padding: 20px;
  padding-top: 80px;
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  display: none;
  z-index: 50;
}
@media screen and (min-width: 1024px) {
  .nav__wrapper {
    display: block;
    visibility: visible;
    position: static;
    width: auto;
    padding: 0;
  }
}
.nav__list:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .nav__list:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__list-area {
    font-size: 14px;
  }
}
@media screen and (min-width: 1024px) {
  .hdr__pc-inner {
    width: 1400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
  }
  .nav__list-area {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 35px;
  }
}
.ftr__logo {
  width: 200px;
  max-width: 60%;
  margin-bottom: 20px;
}
.ftr__logo img {
  width: 100%;
}
.ftr__wrapper {
  padding: 20px;
  height: 200px;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .ftr__wrapper {
    padding: 35px;
  }
}
.ftr__block {
  margin-bottom: 20px;
}
.ftr__block-txt {
  display: block;
}
.ftr__block-txt:not(:last-child) {
  margin-bottom: 9px;
}
.ftr__btn-block {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .ftr__list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  }
}
.ftr__list-line {
  margin-bottom: 12px;
  font-weight: bold;
}
.ftr__list-line-btn {
  display: block;
}
@media screen and (min-width: 768px) {
  .ftr__list-line-btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .ftr__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .ftr__inner {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .ftr__item {
    flex: 1;
    min-width: 500px;
  }
  .ftr__btn-block {
    margin-bottom: 35px;
  }
}
.js__nav-active.js__nav-area {
  display: block;
  visibility: visible;
  -webkit-animation-name: openNav;
          animation-name: openNav;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.js__nav-active .hdr__nav-btn-parts-01 {
  transform: rotate(45deg) translateY(-50%);
  top: 45%;
}
.js__nav-active .hdr__nav-btn-parts-02 {
  transform: translateX(100px);
}
.js__nav-active .hdr__nav-btn-parts-03 {
  transform: rotate(-45deg) translateY(-50%);
  top: 45%;
}

@-webkit-keyframes openNav {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes openNav {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mv__wrapper {
  height: calc(100vh - 60px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .mv__wrapper {
    align-items: flex-end;
  }
}
.mv__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: block;
  background-color: black;
}
.mv__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}
.mv__inner {
  position: relative;
  z-index: 100;
  width: 1440px;
  max-width: 100%;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .mv__inner {
    padding: 80px;
  }
}
.mv__title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .mv__title {
    margin-bottom: 50px;
    text-align: left;
    font-size: 54px;
  }
}
.mv__title-txt-01 {
  display: block;
}
.mv__title-txt-02 {
  display: block;
  font-size: 0.8em;
}
@media screen and (min-width: 768px) {
  .mv__text {
    font-size: 20px;
    max-width: 100%;
    width: 530px;
  }
}

.sec-01__wrapper {
  background-color: #6f8f84;
}
@media screen and (min-width: 768px) {
  .sec-01__wrapper .c-title-01 {
    text-align: left;
    margin-bottom: 30px;
  }
  .sec-01__wrapper .c-title-01::before {
    transform: none;
    left: 0;
  }
}
.sec-01__block {
  padding: 30px 16px;
  color: #fff;
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .sec-01__block {
    margin-left: 0;
    margin-right: auto;
    padding: 40px;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .sec-01__block {
    width: 555px;
    padding: 40px 70px;
  }
}
.sec-01__img {
  height: 240px;
  width: 100%;
  background-color: black;
  display: block;
}
.sec-01__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  display: block;
}
@media screen and (min-width: 768px) {
  .sec-01__img {
    width: 50%;
    height: auto;
  }
}
.sec-01__text-area {
  line-height: 1.8;
  margin-bottom: 30px;
}
.sec-01__btn-area {
  margin-top: 30px;
}
.sec-01__btn-area .c-btn {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .sec-01__btn-area .c-btn {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .sec-01__inner {
    display: flex;
  }
}

.sec-02__wrapper {
  padding: 30px 16px;
  background-color: #F2F2F2;
}
@media screen and (min-width: 768px) {
  .sec-02__wrapper {
    padding: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .sec-02__wrapper {
    padding: 50px;
  }
}
.sec-02__txt-area {
  margin-bottom: 30px;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .sec-02__txt-area {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .sec-02__txt-area {
    margin-bottom: 50px;
  }
}
.sec-02__block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .sec-02__block {
    align-items: flex-start;
    gap: 20px;
  }
}
.sec-02__block-item {
  width: 345px;
}
@media screen and (min-width: 1024px) {
  .sec-02__block-item {
    width: 270px;
    position: relative;
  }
  .sec-02__block-item:nth-child(2) {
    margin-top: 50px;
  }
  .sec-02__block-item:nth-child(3) {
    margin-top: 100px;
  }
}
.sec-02__card {
  padding: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 8px #ccc;
}
.sec-02__card-body {
  padding-top: 10px;
}
.sec-02__card-title {
  font-size: 16px;
}
.sec-02__card-title-01 {
  display: block;
  margin-bottom: 8px;
}
.sec-02__card-title-02 {
  display: block;
  font-size: 0.7em;
}
.sec-02__img {
  width: 100%;
  height: 150px;
  display: block;
  background-color: black;
}
@media screen and (min-width: 1024px) {
  .sec-02__img {
    height: 375px;
  }
}
.sec-02__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.sec-02__btn-area {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .sec-02__btn-area {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .sec-02__btn-area {
    margin-top: 50px;
  }
}
.sec-02__btn-area .c-btn {
  margin-left: auto;
  margin-right: auto;
}

.sec-03__wrapper {
  background-color: #6f8f84;
  padding: 30px 30px;
}
@media screen and (min-width: 768px) {
  .sec-03__wrapper {
    padding: 40px;
  }
}
@media screen and (min-width: 768px) {
  .sec-03__wrapper {
    padding: 50px;
  }
}
.sec-03__wrapper .c-title-01 {
  color: #fff;
}
.sec-03__inner {
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.sec-03__list {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .sec-03__list {
    gap: 27px;
  }
}
.sec-03__list:not(:last-child) {
  margin-bottom: 20px;
}
.sec-03__btn-area {
  margin-top: 30px;
}
.sec-03__btn-area .c-btn {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .sec-03__btn-area {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .sec-03__btn-area {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .sec-04__block {
    display: flex;
  }
}
.sec-04__btn {
  height: 240px;
  width: 100%;
  position: relative;
  display: block;
  color: #fff;
  overflow: hidden;
}
.sec-04__btn:hover .sec-04__btn-bg img {
  transform: scale(1.2);
}
@media screen and (min-width: 1024px) {
  .sec-04__btn {
    height: 390px;
  }
}
.sec-04__btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 10;
}
.sec-04__btn-bg img {
  transition: ease all 0.5s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.sec-04__btn .c-title-01 {
  position: absolute;
  z-index: 100;
  color: #fff;
  margin: 0;
}
.sec-04__btn-01 .c-title-01 {
  top: 30px;
  left: 30px;
}
@media screen and (min-width: 1024px) {
  .sec-04__btn-01 .c-title-01 {
    top: 80px;
    left: 80px;
  }
}
.sec-04__btn-02 .c-title-01 {
  bottom: 30px;
  right: 30px;
}
@media screen and (min-width: 1024px) {
  .sec-04__btn-02 .c-title-01 {
    bottom: 80px;
    right: 80px;
  }
}/*# sourceMappingURL=style.css.map */